body {
    background-color: rgba(200, 200, 200, 0.9);
}

h2 {
    font-family: 'Anton';
    color: rgb(0, 48, 99);
}

p {
    font-family: 'Passion one';
    font-size: 22px;
    align-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}


.aa {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar1{
    padding: 6px 9%;
    background-color: #000000;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    width: 50px;
    height:50px;
    transition: transform .6s;
    margin-top: 2mm;
    margin-left: 6mm;
    margin-right: 5mm;
    margin-bottom: 2mm;
}

.t2 {
    text-align: center;
    margin-bottom: 1cm;
}

h2 {
    font-family: 'Anton';
    color: rgb(0, 48, 99);
}

.nav-bar li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0.1s;
}

.nav-bar li a:hover {
    color: rgb(133, 132, 132);
    transition: all 0.3s ease 0.1s;
}

.ct button {
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0);
    border: solid #7F7F7F;
    border-radius: 25px;
    cursor: pointer;
    transition: transform .6s;
    color: #7F7F7F;
}

.ct button:hover {
    background-color: #7F7F7F;
    transition: all 0.3s ease 0.1s;
    transform: scale(1.05);
    color: #000000;
}

.a2 {
    margin-left: 4cm;
    margin-top: 2cm;
    margin-right: 4cm;
}

.me {
    margin-left: 3cm;
    margin-right: 3cm;
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 474px) {
    .aa {font-size: 10px;}
}

.c1 {
    flex-direction: column;
    margin: 8mm;
}
.c2{
    width: 4cm;
    height: auto;
}

.c1:hover {
    transition: all 0.2s ease 0s;
    transform: scale(1.1);
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.a1 {
    text-align: center;
}

.aaa111 {
    display: flex;
    margin-top: 2cm;
    margin-bottom: 3cm;
    justify-content: center;
}
.backHome {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    background-color: #7F7F7F;
    color: white;
    padding: 12px;
    border-radius: 20%;
}

.backHome:hover {
    background-color: rgba(110, 110, 110, 0.466);
}

.b123 {
    border: none;
    background-color: none;
}