body {
    background-color: rgba(200, 200, 200, 0.9);
}

p {
    font-family: 'Passion one';
    font-size: 22px;
    align-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}


.aa {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar1{
    padding: 5.5px 9%;
    background-color: #000000;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    width: 50px;
    height:50px;
    transition: transform .6s;
    margin-top: 2mm;
    margin-left: 6mm;
    margin-right: 5mm;
    margin-bottom: 2mm;
}

.nav-bar li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0.1s;
}

.nav-bar li a:hover {
    color: rgb(133, 132, 132);
    transition: all 0.3s ease 0.1s;
}

.ct button {
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0);
    border: solid #7F7F7F;
    border-radius: 25px;
    cursor: pointer;
    transition: transform .6s;
    color: #7F7F7F;
}

.ct button:hover {
    background-color: #7F7F7F;
    transition: all 0.3s ease 0.1s;
    transform: scale(1.05);
    color: #000000;
}

.lg {
    width: 300px;
    height: auto;
    margin: 3cm;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    font-family: 'Passion One';
    font-size: 22px;
}

h2 {
    font-family: 'Anton';
    color: rgb(0, 48, 99);
}

.t1 {
    text-align: center;
}